.menubg {
    background-color: #fff !important;
}
.menubg .navbar-nav {
    padding-top: 2.3em;
}
#mainNav .dropdown-menu > li > a {
    color: #000 !important;
    background-color: #fff !important;
    border-bottom: 1px solid #eaeaea !important;
    font-size: 15px !important;
    font-weight: 300 !important;
    transition: 300ms all ease-in-out !important;
}
#mainNav .dropdown-menu,
#mainNav.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
#mainNav.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #fff !important;
    border: 2px solid #000 !important;
    border-radius: 0;
}
#mainNav .dropdown-menu > li > a:hover,
#mainNav .dropdown-menu > li > a:focus {
    color: #bababa !important;
    background-color: #fff !important;
}
#mainNav.navbar-default .navbar-nav > li > a,
#mainNav.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000 !important;
    transition: 300ms all ease-in-out !important;
}
#mainNav.navbar-default .navbar-nav > li > a:hover,
#mainNav.navbar-default .navbar-nav > li > a:focus,
#mainNav.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
#mainNav.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #bababa !important;
}
#mainNav.navbar-default .navbar-nav > li > a,
#mainNav.navbar-default .navbar-nav .open .dropdown-menu > li > a,
#mainNav.navbar-default .navbar-nav > li > a:hover,
#mainNav.navbar-default .navbar-nav > li > a:focus,
#mainNav.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
#mainNav.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000 !important;
    font-size: 15px !important;
}
.dropdown-menu {
    padding: 0 !important;
}
.dropdown-menu > li {
    margin-bottom: 0px !important;
}
.dropdown-menu > li > a {
    padding: 10px 20px 10px 20px;
}
.dropdown-toggle::after {
    content: "\f078";
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: .8rem;
    font-weight: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
    line-height: normal;
}

/* Media */
@media (min-width: 1200px) {
    .container {
        width: 100% !important;
    }
}
